*{
    margin:0;
    padding:0;
}


  .container{
    background:url(gokyuzu-1.jpg) ;
    height:100vh ;
    background-size:  100% 100% ;
  } 

 .container .navbar{
  width: 100%;
  height: 90px;
  background: rgba(4, 76, 89, 0.4);
 
 }
 
 .navbar.logo{
  display: inline-block;
  margin-top: 20px;
  margin-left: 50px;
  
 }
 

.navbar .logo a{
  text-decoration: none;
  font-size: 30px;
  font-family: sans-serif;
  color: #f3f3f3;
}


 .navbar ul{
  float:right;
  margin-right: 20px;
 }


 .navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0.8px;
  line-height: 80px;
}

 .navbar ul li a{

  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 8px 13px;
  font-family: sans-serif;
  
 }
 .navbar ul li a.active,
 .navbar ul li a:hover{
  background: #ff6e06;
  border-radius: 3px;

 }

 .container .center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: sans-serif;
  user-select: none;
 }

 .center h1{
  color: rgba(24, 188, 6, 0.4);
  font-size: 70px;
  font-weight: bold;
  width:800px;
  text-align: center;
 }

 .center h2{
  color: rgba(24, 188, 6, 0.4);
  font-size: 65px;
  font-weight: bold;
  margin-top: 10px;
  width: 755px;
  text-align: center;
 }

  
